<div class="container">

    <h1>Employee Work Information</h1>
    
    <form>
    
    <div class="form-group">
    
    <label for="name">Name</label>
    
    <input type="text" class="form-control" id="name" required>
    
    </div>


    <div class="form-group">
    
        <label for="Employment Date">Employment Date</label>
        
        <input type="text" class="form-control" id="Employee ID" required>
        
        </div>

        <div class="form-group">
    
            <label for= "Department">Department</label>
        
            <select class= "form-control" id= "skills" required>
        
            <option *ngFor= "let ski of Department" [value]= "ski">{{ski}}</option>
            
            
            
            </select>
            
            </div>
    
    <div class="form-group">
    
    <label for="designation">Work Phone Number</label> <input type="text" class="form-control" id="skills">
    
    </div>
    
    <button type="submit" class="btn btn-success">Submit</button>
    
    </form>
    
    </div>
    
    
